# Load Dataset

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('tia_posts.csv', parse_dates=['date_gmt'])
df.head()

,id,date_gmt,title,slug,type,content,excerpt,author_id,author_name,author_is_staff,...,comments_count,categories,tags,is_sponsored,sponsor_name,show_ads,is_subscriber_exclusive,is_paywalled,is_inappbrowser,read_time
0,736193,2022-03-08 05:00:16,How India’s tech titans square up against Chin...,indias-tech-titans-square-chinese-peers,visual-story,Image credit: Timmy LoenHours before India’s i...,"Legacy businesses still dominate Indian tech, ...",530158,Tay Tian Wen,True,...,0,"['Premium Content', 'Visual Stories']","['Asia', 'China', 'china vs tech giants', 'Chi...",False,NaN,True,True,True,False,4
1,736448,2022-03-08 04:28:58,Una Brands to invest $100m into South Korea,singapores-una-brands-commits-100m-acquiring-s...,post,"Una Brands, a Singapore-based ecommerce roll-u...","Through a partnership with KlickBrands, Una Br...",270460,Miguel Cordon,True,...,0,"['Ecommerce', 'Investments', 'News', 'Startups']","['Acquisition', 'Ecommerce', 'ecommerce rollup...",False,NaN,True,False,True,False,1
2,736439,2022-03-08 03:57:05,Wavemaker Partners closes fourth fund at $136m,wavemaker-partners-fourth-fund-136-million,post,Southeast Asian VC firm Wavemaker Partners has...,Wavemaker Partners has more than 10 exits so f...,86192,Aditya Hadi Pratama,True,...,0,"['News', 'Startups']","['gavin lee', 'International Finance Corporati...",False,NaN,True,False,True,False,2
3,736427,2022-03-08 03:08:38,"Temasek, Tencent back $200m round of Australia...",immutable-200-million-funding,post,"Immutable, an Australia-based blockchain start...","Immutable said its platform can process 9,000 ...",86192,Aditya Hadi Pratama,True,...,0,"['Blockchain', 'Investments', 'News', 'Startups']","['Alex Connolly', 'Animoca Brands', 'Australia...",False,NaN,True,False,True,False,2
4,734160,2022-03-08 03:00:51,This deck helped an Islamic fintech firm raise...,iman,visual-story,﻿ ABOUTImanis an Uzbekistan-based fintech firm...,Iman offers fintech services that follow the m...,470877,Deepti Sri,True,...,0,['Visual Stories'],"['buy now pay later', 'fintech', 'Iman', 'Isla...",False,NaN,True,False,True,False,1

In [3]:
df.shape

(900, 21)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 21 columns):
id                         900 non-null int64
date_gmt                   900 non-null datetime64[ns]
title                      900 non-null object
slug                       900 non-null object
type                       900 non-null object
content                    900 non-null object
excerpt                    900 non-null object
author_id                  900 non-null int64
author_name                900 non-null object
author_is_staff            900 non-null bool
editor                     843 non-null object
comments_count             900 non-null int64
categories                 900 non-null object
tags                       900 non-null object
is_sponsored               900 non-null bool
sponsor_name               37 non-null object
show_ads                   900 non-null bool
is_subscriber_exclusive    900 non-null bool
is_paywalled               900 non-null bool
is_inappbrowser            900 non-null bool
read_time                  900 non-null int64
dtypes: bool(6), datetime64[ns](1), int64(4), object(10)
memory usage: 110.9+ KB

In [5]:
df.describe()

                  id      author_id  comments_count   read_time
count     900.000000     900.000000      900.000000  900.000000
mean   725769.078889  415519.953333        0.100000    2.331111
std     25701.592251  197432.883457        0.582465    1.990894
min    485312.000000     217.000000        0.000000    1.000000
25%    727261.500000  242465.000000        0.000000    1.000000
50%    730267.000000  470877.000000        0.000000    2.000000
75%    733061.500000  580372.000000        0.000000    3.000000
max    736448.000000  717239.000000       11.000000   16.000000

In [6]:
df.columns

Index(['id', 'date_gmt', 'title', 'slug', 'type', 'content', 'excerpt',
       'author_id', 'author_name', 'author_is_staff', 'editor',
       'comments_count', 'categories', 'tags', 'is_sponsored', 'sponsor_name',
       'show_ads', 'is_subscriber_exclusive', 'is_paywalled',
       'is_inappbrowser', 'read_time'],
      dtype='object')

# Question

## 1.